<div class="profile-container">
  <h3 class="profile-name"><%= @user.name %></h3>
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
  <%#= attachment_image_tag 保存先インスタンス名, :保存先カラム名, :サイズ（横幅,高さ）, 画像拡張子, 代替画像 %>
  
  <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>
<%= render 'post_images/list', post_images: @post_images %>
<!--部分テンプレートを呼び出せるよう設定-->

<%#= render [部分テンプレートファイルの指定], [ローカル変数]:[渡す値] %>
<!--部分テンプレートファイルを呼び出すには、renderを使う-->
<!--'post_images/list'で部分テンプレートのパス（app/viewsより下のパス）を記述する-->
<!--その際、アンダースコアと拡張子は省略する(listでOK-->
<!--post_imagesは部分テンプレート内で使用する変数（＝ローカル変数）。-->
<!--@posts＿imagesは、postコントローラのindexアクションで定義した変数。-->
<!--つまり、部分テンプレート内でpostsを使用した場合、その変数の中身は、-->
<!--postコントローラのindexアクションで定義された@post_imagesと同義となる。-->